<section class='text-white font-GilroyRegular flex items-center justify-center flex-col gap-y-4 max-w-3xl mx-auto pt-10 px-6 lg:px-0'>
  <p>
    We hope this message finds you well. First of all, we would like to
    express our sincere thanks for being part of the Wind UI community. Your
    trust and continued support have been critical to the development and
    success of this project.
  </p>
  <p>
    Wind UI has been conceived with the objective of offering an exceptional
    user experience and innovative solutions in the field of user interface.
    Our commitment to excellence drives us to continue to evolve and
    improve, and it is in this context that we turn to you.
  </p>
  <p>
    To ensure the sustainability and continued growth of Wind UI, we would
    like to cordially invite you to consider contributing monetarily to the
    project. Your donations, regardless of the amount, will play a crucial
    role in supporting our development team, researching and implementing
    new features, as well as ensuring efficient technical support.
  </p>
  <p>
    We know that every user has different circumstances and possibilities,
    and any contribution you are willing to make will be greatly
    appreciated. We do not underestimate the value of every contribution, as
    every euro/dollar/peso adds up and contributes directly to the
    advancement of Wind UI.
  </p>
  <p>
    To make a donation, simply visit our donation page at{' '}
    <a
      href='https://github.com/sponsors/Boxode'
      target='_blank'
      rel='noopener noreferrer'
      class='font-GilroyBold underline'
    >
      GitHub Sponsors
    </a>{' '}
    or via Stripe. There you will find detailed information on how to make
    your contribution safely and easily.
  </p>
  <p>
    Your generosity will not only strengthen Wind UI today, but will also
    lay the groundwork for future innovations and improvements. We thank you
    in advance for your continued support and are excited to continue to
    grow with you.
  </p>
  <p>Thank you for being an essential part of the Wind UI community ❤</p>
</section>