<section class="mx-auto mt-32 w-full px-4 sm:px-6 lg:mt-40 lg:max-w-5xl lg:px-8 xl:max-w-container">
	<div class="mx-auto max-w-2xl lg:max-w-none">
		<div class="divide-y divide-slate-700/10 border-t border-slate-700/10">

			<section class="grid grid-cols-1 gap-x-8 gap-y-6 pb-20 pt-10 xl:grid-cols-4">
				<h3 class="text-2xl font-semibold leading-9 tracking-tight text-slate-900 dark:text-white font-[GilroyBold]">
					Components</h3>
				<div class="col-span-3">
					<p class="max-w-3xl text-base leading-8 text-slate-700 dark:text-slate-200 font-[GilroyRegular]">Over 500+
						professionally designed, fully responsive,
						expertly crafted component examples you can drop into your Tailwind projects and customize to your heart’s
						content. <span class='font-[GilroyBold]'>(Working in all components little by little, stay tuned.)</span>
					</p>
					<div class="mt-12 grid grid-cols-1 gap-x-8 gap-y-14 text-sm leading-6 sm:grid-cols-2 lg:grid-cols-3">
						<div>
							<div class="relative aspect-[280/190] overflow-hidden rounded-xl bg-slate-300 select-none">
								<img src="/application-ui.png" alt="Application UI">
								<div class="absolute inset-0 rounded-xl ring-1 ring-inset ring-black/5"></div>
							</div>
							<p class="mt-6 text-slate-700 dark:text-slate-300 font-[GilroyRegular]"><strong
									class="font-semibold text-slate-900 dark:text-white font-[GilroySemiBold]">Application UI</strong> –
								Buttons, form controls, application layouts, dialogs, and more.</p>
						</div>
						<div>
							<div class="relative aspect-[280/190] overflow-hidden rounded-xl bg-slate-300 select-none">
								<img src="/marketing.png" alt="Marketing">
								<div class="absolute inset-0 rounded-xl ring-1 ring-inset ring-black/5"></div>
							</div>
							<p class="mt-6 text-slate-700 dark:text-slate-300 font-[GilroyRegular]"><strong
									class="font-semibold text-slate-900 dark:text-white font-[GilroySemiBold]">Marketing</strong> – Heros,
								feature sections, newsletter sign up forms, and more.</p>
						</div>
						<div>
							<div class="relative aspect-[280/190] overflow-hidden rounded-xl bg-slate-300 select-none">
								<img src="/ecommerce.png" alt="Ecommerce">
								<div class="absolute inset-0 rounded-xl ring-1 ring-inset ring-black/5"></div>
							</div>
							<p class="mt-6 text-slate-700 dark:text-slate-300 font-[GilroyRegular]"><strong
									class="font-[GilroySemiBold] text-slate-900 dark:text-white">Ecommerce</strong> – Checkout
								forms, shopping carts, product views, and more.</p>
						</div>
					</div>
					<div class="mt-16 grid grid-cols-1 gap-8 sm:grid-cols-2 sm:gap-y-10">
						<div>
							<p class="text-base leading-7 text-slate-700 dark:text-slate-300 font-[GilroyRegular]"><strong
									class="font-[GilroySemiBold] text-slate-900 dark:text-white">React, Vue, Svelte, Astro or
									vanilla HTML</strong>&nbsp; — <span>every component works in your favorite frontend framework, like
									React, Vue, Svelte, Astro or vanilla HTML. Just you need copy the code and paste in your component and
									that's all :)</span></p>
						</div>
						<div>
							<p class="text-base leading-7 text-slate-700 dark:text-slate-300 font-[GilroyRegular]"><strong
									class="font-[GilroySemiBold] text-slate-900 dark:text-white">Hundreds of
									ideas</strong> — <span>every category includes a wide variety of UI patterns, so you can always find
									the perfect starting point for whatever you’re building.</span></p>
						</div>
					</div>
				</div>
			</section>

			<section class="grid grid-cols-1 gap-x-8 gap-y-6 pb-20 pt-10 xl:grid-cols-4">
				<h3 class="text-2xl font-[GilroyBold] leading-9 tracking-tight text-slate-900 dark:text-white">Templates</h3>
				<div class="col-span-3">
					<p class="max-w-3xl text-base leading-8 text-slate-700 dark:text-slate-200 font-[GilroyRegular]">
						Highly engaging and easily adaptable website designs, crafted with advanced technologies such as React and Next.js. An ideal foundation to kick-start your next project, these templates not only offer stunning visual aesthetics, but also serve as an essential resource for understanding how professionals build practical websites using the versatility of Tailwind CSS.</p>
			</section>

			<section class="grid grid-cols-1 gap-x-8 gap-y-10 pb-20 pt-10 xl:grid-cols-4">
				<h3 class="text-2xl font-[GilroyBold] leading-9 tracking-tight text-slate-900 dark:text-white">Built for
					production
				</h3>
				<div class="xl:col-span-3">
					<div class="grid grid-cols-1 gap-8 sm:grid-cols-2 sm:gap-y-10">
						<div>
							<p class="text-base leading-7 font-[GilroyRegular] text-slate-700 dark:text-slate-300"><strong
									class="font-[GilroySemiBold] text-slate-900 dark:text-white">Easy to
									customize</strong> — <span>everything is styled with utility classes, directly in the markup. No
									configuration variables or complex CSS to wrestle with, just open the markup in your editor and change
									whatever you want.</span></p>
						</div>
						<div>
							<p class="text-base leading-7 font-[GilroyRegular] text-slate-700 dark:text-slate-300"><strong
									class="font-[GilroySemiBold] text-slate-900 dark:text-white">Keyboard
									accessible</strong> — <span>everything we build is keyboard accessible, and we carefully craft the
									markup to deliver the best screenreader experience we know how.</span></p>
						</div>
						<div>
							<p class="text-base leading-7 font-[GilroyRegular] text-slate-700 dark:text-slate-300"><strong
									class="font-[GilroySemiBold] text-slate-900 dark:text-white">Built by the
									Boxode team</strong> — <span>you can trust that all of the code is written following Tailwind
									CSS best practices, because it’s written by the same team who created and maintain the
									framework.</span></p>
						</div>
						<div>
							<p class="text-base leading-7 font-[GilroyRegular] text-slate-700 dark:text-slate-300"><strong
									class="font-[GilroySemiBold] text-slate-900 dark:text-white">Production-ready</strong> — <span>our
									components
									and templates
									are rigorously tested in the latest versions of all browsers, and handle lots of edge-cases you might
									easily miss yourself.</span></p>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
</section>
