---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero';
import CComponents from '../components/CComponents.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="windUI - Design and build your next idea more faster and more beautifully with windUI.">
	<main>
		<Header />
		<Hero />
		<CComponents />
		<Footer />
	</main>
</Layout>