---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero';
import CComponents from '../components/CComponents.astro';
import Footer from '../components/Footer.astro';
---

<Layout 
title="windUI - Design and build your next idea more faster and more beautifully with windUI." 
description='Build the perfect starting point to breathe life into your next project, an endless source of creativity and stylistic perfection. Build the perfect starting point to breathe life into your next project, an endless source of creativity and stylistic perfection.'>
	<main>
		<Header />
		<Hero />
		<CComponents />
		<Footer />
	</main>
</Layout>