---
import { AngularLogo, AstroLogo, HTMLLogo, LaravelLogo, NextJSLogo, NuxtJSLogo, ReactLogo, SvelteLogo, VueJSLogo  } from "./Companies";
---
<section>
  <div class="logos">
    <div class="logos-slide"></div>
  </div>
</section>