<section class='py-16'>
  <div class='text-center text-black dark:text-white'>
    <h2 class='font-GilroyBold text-4xl'><span class='text-transparent bg-clip-text bg-gradient-to-b from-[#04B4E6] to-blue-600'>&bull;</span> Wind UI <span class='text-transparent bg-clip-text bg-gradient-to-b from-[#04B4E6] to-blue-600'>&bull;</span></h2>
    <p class='font-GilroySemibold text-2xl'>now is compatible with your favorite frameworks</p> 
  </div>
  <div class="logos">
		<div class="logos-slide">
			<img src="/svg/Marquee/Angular.svg" alt="Angular Logo" />
			<img src="/svg/Marquee/Astro.svg" alt="Astro Logo" />
			<img src="/svg/Marquee/HTML.svg" alt="HTML Logo" />
			<img src="/svg/Marquee/Laravel.svg" alt="Laravel Logo" />
			<img src="/svg/Marquee/Next.svg" alt="NextJS Logo" />
			<img src="/svg/Marquee/NuxtJS.svg" alt="NuxtJS Logo" />
			<img src="/svg/Marquee/React.svg" alt="React Logo" />
			<img src="/svg/Marquee/Svelte.svg" alt="Svelte Logo" />
			<img src="/svg/Marquee/VueJS.svg" alt="VueJS Logo" />
		</div>
    <div class="logos-slide">
			<img src="/svg/Marquee/Angular.svg" alt="Angular Logo" />
			<img src="/svg/Marquee/Astro.svg" alt="Astro Logo" />
			<img src="/svg/Marquee/HTML.svg" alt="HTML Logo" />
			<img src="/svg/Marquee/Laravel.svg" alt="Laravel Logo" />
			<img src="/svg/Marquee/Next.svg" alt="NextJS Logo" />
			<img src="/svg/Marquee/NuxtJS.svg" alt="NuxtJS Logo" />
			<img src="/svg/Marquee/React.svg" alt="React Logo" />
			<img src="/svg/Marquee/Svelte.svg" alt="Svelte Logo" />
			<img src="/svg/Marquee/VueJS.svg" alt="VueJS Logo" />
		</div>
    <div class="logos-slide">
			<img src="/svg/Marquee/Angular.svg" alt="Angular Logo" />
			<img src="/svg/Marquee/Astro.svg" alt="Astro Logo" />
			<img src="/svg/Marquee/HTML.svg" alt="HTML Logo" />
			<img src="/svg/Marquee/Laravel.svg" alt="Laravel Logo" />
			<img src="/svg/Marquee/Next.svg" alt="NextJS Logo" />
			<img src="/svg/Marquee/NuxtJS.svg" alt="NuxtJS Logo" />
			<img src="/svg/Marquee/React.svg" alt="React Logo" />
			<img src="/svg/Marquee/Svelte.svg" alt="Svelte Logo" />
			<img src="/svg/Marquee/VueJS.svg" alt="VueJS Logo" />
		</div>
	</div>
</section>

<style>
@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos {
  overflow: hidden;
  padding: 60px 0;
  white-space: nowrap;
  position: relative;
}

img {
  filter: grayscale(100%);
  transition: filter .3s;
}

img:hover {
  filter: grayscale(0%);
  amimation: filter .3s;
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 300px;
  height: 100%;
  content: "";
  z-index: 2;
}
.logos:before {
    left: 0;
    background: linear-gradient( to left, rgba(255, 255, 255, 0) 0%, rgba(9, 14, 26, 1) 100%);
  }

  .logos:after {
    right: 0;
    background: linear-gradient( to right, rgba(255, 255, 255, 0) 0%, rgba(9, 14, 26, 1) 100%);
  }

.logos-slide {
  display: inline-flex;
  animation: 30s slide infinite linear;
}

.logos:hover .logos-slide {
  animation-play-state: paused;
}

.logos-slide img {
  height: 65px;
  margin: 0 40px;
}
</style>