.magicpattern { 
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: repeat;
  background-image: url("/svg/Grid.svg");
  @apply stroke-black/10 dark:stroke-white/10
}
